.home-container{
    height: 100vh;
}

.grid {
  margin: 30px 3%;
  border: 1.5px solid black;
  overflow: hidden;
}

.home-timer-container {
  color: white;
  position: absolute;
  left: 43%;
  top: 4%;
  display: none;
}

.home-algo-title {
  color: white;
  position: absolute;
  left: 43%;
  top: 10%;
  display: none;
}


