.home-container{
    height: 100vh;
}

.grid {
  margin: 30px 3%;
  border: 1.5px solid black;
  overflow: hidden;
}

.home-timer-container {
  color: white;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  font-size: 1rem;
  display: none;
}
  
@media (max-width : 572px){
  .home-timer-container {
    font-size: 12px;
    min-width: 150px;
    position: absolute;
    top: 12%;
  }

  .grid{
    margin-bottom: 110px;
  }
}


